.footer {
    position: fixed;
    width: 60%;
    height: 70px;
    text-align: center;
    left:27%;
    bottom: 20px;
    background-color: white;

}

.copyright{
    position: absolute;
    right: 80%;
    top: 25px;
}

.designBy{
    position: absolute;
    right: 5%;
    top: 25px;
}