.sideBarMenu {
    position: absolute;
    top: 150px;
    left: 3%;
    width: 300px;
    background: #521751;
    height: 500px;
    border-radius: 0.3rem;
    -webkit-flex: none;
    flex: none;
    width: 300px;
}

.sideBarMenu_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.5rem;
    

}

.sideBarMenu_navigiation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flexbox;
}

.sideBarMenu_navigiation_items li {
    padding: 0 0.5rem;
    padding-top: 1.5rem;
    border: 1px white solid;
    margin-top: 7px;
    width: 285px;
    background-color: white;
    text-align: center;
    height: 75px;
    border-radius: 0.25rem;
    color: #521751;
    
    
}

.sideBarMenu_navigiation_items a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
        
}


.sideBarMenu_navigiation_items a:hover,
.sideBarMenu_navigiation_items a:active{
    color: #fa923f;
}

@media (max-width: 1000px) {
    .sideBarMenu {
    display: none;
    }
}