.contentTab{
    margin-left: 27%;
    margin-top: 3%;
    width: 60%;
    height: 690px;
    text-align: center;
    left:27%;
    top:90px;
    background-color: white;
    z-index: 0;
    padding: 20px;
    overflow:overlay; 
    display: flex;
    display: -webkit-flex;
    
}


@media (max-width: 1270px) {
    .contentTab {
        margin-left: 35%;
        height: 750px;
        padding: 30px;
    }
}

@media (max-width: 770px) {
    .contentTab {
        margin-left: 35%;
        
    }
}